<!DOCTYPE html>
<!-- doctype html = html 5 -->
<html>

<head>
    <title>Agenda de telefonos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./libs/jquery-3.4.1.min.js"></script>
    <script src="./libs/handlebars-v4.1.2.js"></script>
    <script src="common.js"></script>
    <script src="./index.js"></script>
</head>

<body>
    <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">MegaAgenda</a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link " href="/pepe">Agregar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Listar</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
        <div id="contactos-contenedor" class="row">
            <div class="col-4">
                <p>nombre</p>
                <p>apellido</p>
                <img src="./img/person-icon.png" style="width: 40px;">
            </div>
            <div class="col-4">
                <p>nombre</p>
                <p>apellido</p>
                <img src="./img/person-icon.png" style="width: 40px;">
            </div>
        </div>
    </div>
</body>

<script id="contacto-template" type="text/x-handlebars-template">
    <div class="col-4">
        <p>{{title}}</p>
        <p class="__nombre">{{contacto.nombre}}</p>
        <!--<img src="./img/person-icon.png" style="width: 40px;">-->
        <img src="{{contacto.foto}}" style="width: 90px;">       
        <a href="./detalles/index.html?nombre={{contacto.nombre}}">Detalles</a>
        <input type="button" value="Borrar" class="btn-borrar">
    </div>
</script>

</html>