#css1, #css2 {
    background-color: green;
}
.naranja_fondo {
    background-color: orange;
}
.verde_fondo {
    background-color: green;
}
.naranja_fondo.verde_fondo {
    background-color: brown;
}

/*
esto es un comentario
*/
.envoltorio input {
    background-color: blue;
}

.envoltorio input:hover {
    background-color: bisque;
}



