<!DOCTYPE html>
<!-- doctype html = html 5 -->
<html>

<head>
    <title>Agenda de telefonos - Detalles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../common.css">
    <script src="../libs/jquery-3.4.1.min.js"></script>
    <script src="../libs/handlebars-v4.1.2.js"></script>
    <script src="../common.js"></script>
    <script src="./detalles.js"></script>
</head>

<body>
<input type="button" value="noononono">
    <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">MegaAgenda</a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link " href="/pepe">Agregar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Listar</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
        <div id="contacto-contenedor" class="row">
            detalles
        </div>
    </div>
</body>

<script id="contacto-form-template" type="text/x-handlebars-template">
    <div class="col-4">
        <form id="contacto-form">
            <input type="button" id="contacto-editar" value="editar"/>
            <input type="text" 
                class="input-editable contacto-form_nombre" 
                value="{{contacto.nombre}}" 
                style="background-color: {{contacto.color.valor}}"
                readonly>
            <input type="text" class="input-editable" value="{{contacto.telefono}}" readonly>
            {{#if contacto.color }}
            <p class="{{contacto.color.clazz}}">{{contacto.color.valor}}</p>
            {{/if}}
            <div id="select-colores-contenedor"></div>
            <input type="submit" value="guardar">
        </form>
    </div>
</script>

<script id="select-colores" type="text/x-handlebars-template">
<select>
    {{#each colores}}
    <option value={{valor}} 
    style="background-color: {{valor}}" 
    {{#isEq valor @root.colorSeleccionado}} selected="selected" {{/isEq}}>{{nombre}} {{valor}}</option>
    {{/each}}
</select>
</script>

</html>
